<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Super Bear Stream Adventure</title>
  <link rel="stylesheet" href="/css/base.css">
</head>
<body data-ng-app="bearsApp">
  <div class="span" role="div" data-ng-controller="authController" data-ng-init="updateUsername()">
    <header>
      <p data-ng-if="username">{{'Hello ' + username}} <a href data-ng-click="logout()">logout</a></p>
    </header>
    <main data-ng-view>
      <p>Stay tuned loading, or you have a javascript blocker active</p>
      <img src="/images/dancing_bear.gif" alt="loading">
    </main>
  </div>

  <script src="bundle.js"></script>
</body>
</html>
