<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Super Bear Stream Adventure</title>
  <link rel="stylesheet" href="/css/base.css">
</head>
<body data-ng-app="bearsApp">

  <main data-ng-controller="BearsController" data-ng-init="getAll()">
    <h1>Bears!!!!:</h1>
    <ul>
      <bear data-ng-repeat="bear in bears" data-bear-data="bear">
        <button data-ng-click="deleteBear(bear)">Delete Bear</button>
        <button data-ng-if="!bear.editing" data-ng-click="toggleEdit(bear)">Update Bear</button>
        <bear-form 
          data-ng-if="bear.editing" 
          data-save="updateBear(bear)"
          data-button-text="Update Bear"
          data-bear="bear"
        >
          <button type="button" data-ng-click="toggleEdit(bear)">Cancel</button>
        </bear-form>
      </bear>  
    </ul>
    <bear data-bear-data="newBear">
      <bear-form 
        data-button-text="Create new Bear"
        data-bear="newBear"
        data-save="createBear(newBear)"
      ></bear-form>
    </bear>
  </main>

  <script src="bundle.js"></script>
</body>
</html>
